* {
    box-sizing: border-box;
  }
  
  h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  .start-screen-image, .begin-quiz-button {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }